{% extends "base.html.twig" %}

{% block body %}
	<h1>Liste des meubles existants</h1>

	<a href="{{ path("furniture_add") }}" class="btn btn-secondary">Ajouter un nouveau meuble</a>

	<div class="row">
		<div class="col">
			<table class="table">
				<thead>
					<th>Id</th>
					<th>Nom</th>
					<th>Nombre de création</th>
					<th></th>
				</thead>
				<tbody>
					{% for f in furnitures %}
						<tr>
							<td>{{ f.id }}</td>
							<td>
								<a class="btn btn-primary btn-sm" href="{{ path('furniture', {'id': f.id}) }}">{{ f.name}}</a>
							</td>
							<td>{{ f.craftNumber }}</td>
							<td>
								<a href="{{ path('furniture_edit', {'id': f.id}) }}" class="btn btn-success">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
